body {
  font-family: Arial;
  text-align: center;
}

#framesDisplay {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.frame {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #f2f2f2;
}

.hit {
  background-color: lightgreen;
}

.fault {
  background-color: tomato;
}
